@import url("/css/general/general.css");


.BarraElemento {            
    display: inline-block;
    padding: 1%;
    
}

.BarraElemento a{
    text-align: right;
    text-decoration: none;
    color: var(--ColorSecundario);     
    font-size:200%;
}


.barra_subelemento{
    display: none;
}

.BarraRepositorio{
    text-align: center;
    background-color: var(--ColorCuaternario);
    position: relative;
    height: 200px;
    align-items: center;
    display: inline-flex;
    width: 100%;
    justify-content: center;

}

.BarraRepositorio .BarraElemento a{
    font-size:500%;
}

/*Efecto Zoom, Magnificar o Aumentar*/
.BarraRepositorio .BarraElemento a:hover{
    font-size:700%;
}





